/*배경 이미지*/
html {
    background-image: url(https://wlswnwlswnbot.github.io/tgd/images/temp_back.jpg);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-attachment: fixed;
    background-size: auto;
}
   


/*앞배경 제거*/
body {
    background: none;
}

header #header-bar > .row, #main .menu-wrapper, #main #main-content > div.frame {
    box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
    
}
