/* 배경 보류 html {
    background: url(https://wlswnwlswnbot.github.io/tgd/images/background.png);
    background-size: cover;
}*/

/* 배경색 */
/*
html {
    background: linear-gradient(to bottom, #8951b0, #d980b2);
}
*/

/*배경 이미지*/
html {
    background-image: url(https://wlswnwlswnbot.github.io/tgd/images/temp_back.jpg);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-attachment: fixed;
    background-size: auto;
}

/*앞배경 제거*/
body {
    background: none;
}

header #header-bar > .row, #main .menu-wrapper, #main #main-content > div.frame {
    box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
    
}

/*테두리 선 제거*/
#main .menu-wrapper {
    border-right: none;
    border-bottom: none;
}

header #header-bar>.row {
    border-bottom: none;
    border-right: none;
}

#main #main-content>div.frame {
    border-right: none;
    border-bottom: none;
}


/*상단 검색 아이콘*/

.fa-search:before {
    color: purple;
}



