/*배경 이미지
html {
    background-image: url(https://wlswnwlswnbot.github.io/tgd/images/temp_back.jpg);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-attachment: fixed;
    background-size: auto;
}*/

html
{
    background-color: #000;
    background-image: url(https://wlswnwlswnbot.github.io/tgd/images/hand1.png),url(https://wlswnwlswnbot.github.io/tgd/images/hand3.png);
    animation: drop 20s linear infinite;
}

@keyframes drop
{
    0% 
    {
        background-position: 0 0,0 0;
    }
    100% 
    {
        background-position: 0px 1000px,0px 400px;
    }
}
    


/*앞배경 제거*/
body {
    background: none;
}

header #header-bar > .row, #main .menu-wrapper, #main #main-content > div.frame {
    box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
    
}
