/*프로필사진*/
#board-info #board-info-profile-img {
	border-radius: 5em;
	border: 1px solid rgb(224, 204, 255);
}

/*순위 배경*/
#board-info h1 .badge {
	background-color: #6441a5;
}

/*프로필 줄*/
#board-info h1{
	border-bottom:1px solid rgb(224, 204, 255);
}

/*카테고리 줄*/
#article-list #article-list-category{
/*background:rgb(224, 204, 255);*/
	border-bottom: 2px solid #6242ad;
}

/*카테고리 오버*/
#article-list #article-list-category > a:hover{ 
	background-color:rgb(224, 204, 255);
}

/*공지 색상*/
#article-list>.article-list-row.notice {
    background-color: #f6f0ff;
}

/*페이지 오버*/
.pagination>li>a:hover {
	background-color: rgb(224, 204, 255);
	color: #fff
}

/*공지 글씨 색*/
#article-list>.article-list-row>.item>.list-header>strong {
    color: red;
}


/*읽은 글 색
#article-list>.article-list-row>.item>.list-title>a:visited {
    color: #770088;
}*/

/*
#article-list #article-list-category>a
{
background: #ffe7f1;
font-size: 13px;
}

/*
#article-list>.article-list-row.notice:hover,#article-list>.article-list-row:hover {
	background-color: ;
}
*/
