
#board-info #board-info-profile-img {
	border-radius: 5em;
	border: 1px solid rgb(224, 204, 255);
}


#board-info h1 .badge {
	background-color: #6441a5;
}


#board-info h1{
	border-bottom:1px solid rgb(224, 204, 255);
}


#article-list #article-list-category{
	background:rgb(224, 204, 255);
	border-bottom: 2px solid #6242ad;
}


#article-list #article-list-category > a:hover{ 
	background-color:rgb(224, 204, 255);
}


#article-list>.article-list-row.notice:hover,#article-list>.article-list-row:hover {
	background-color: #ffe7f1;
}


.pagination>li>a:hover {
	background-color: rgb(224, 204, 255);
	color: #fff
}

	/*
#article-list #article-list-category>a
{
background: #ffe7f1;
font-size: 13px;
}

*/
