/*프로필 이름 색*/
#board-info h1>a 
{
  color: #8867c8;
  font-weight:bold;
}

/*순위 색*/
.badge 
{
  background-color: #ff9797;
}

/*프로필 사이 선 색*/
#board-info h1 
{
  border-bottom: 1px solid #8867c8;
}

/*프로필 아래 글자 색*/
#board-info #board-info-bottom a 
{
  color: #8867c8;
}

/*게시판 카테고리 경계선 색*/
#article-list #article-list-category
{
  border-top: 2px solid #ff9797;
}

/*추천수 색*/
#article-list>.article-list-row>.item>.list-header>span 
{
  background-color: #ff9797
}

/*글쓰기 버튼 색*/
.btn-primary 
{
  background-color: #ff9797;
}

/*글쓰기 버튼 색(hover)*/
.btn-primary:active,.btn-primary:focus,.btn-primary:hover 
{
  background-color: #8867c8;
}

/*게시판 번호 색(현재페이지)*/
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover
{
  background-color: #ff9797;
  border-color: #ff9797;
}

/*게시판 번호 색2(hover)*/
.pagination>li>a:hover 
{
  background-color: #8867c8;
  border-color: #8867c8;
  color: white;
}

/*댓글 숫자 색*/
#article-list>.article-list-row>.item>.list-title>small.comment-count 
{
  color: #ff9797;
}

/*작성자 색*/
#article-list>.article-list-row>.item>.list-title>.list-writer.logged>span
{
  color: #8867c8;
}

/*카테고리 색*/
#article-list #article-list-category>a 
{
  background: #ffeaea;
}

/*카테고리 색2*/
#article-list #article-list-category 
{
  background: #ffeaea;
}

/*공지사항 배경색*/
#article-list>.article-list-row.notice
{
  background-color: #ffeaea;
}

/*인기글 배경색*/
#article-list>.article-list-row.hot 
{
  background-color: #fceeee;
}

/*게시판 테두리 제거*/
#main #main-content>div.frame
{
  border-right: none;    
  border-bottom: none;
}

