@font-face{ 
font-family: 'SangSangShinb7'; 
src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.1/SangSangShinb7.woff') format('woff'); 
font-weight: normal; 
font-style: normal; 
}

body,html{
height:auto !important;
font-family:'SangSangShinb7',sans-serif;
font-size:12px
}