/*눈누 상업허용폰트 경기 바탕체*/
/*
@font-face { 
  font-family: 'GyeonggiBatang'; 
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GyeonggiBatang.woff') format('woff');
  font-weight: bold; 
  font-style: normal; 
}






body,html{
height:auto !important;
font-family:'GyeonggiBatang',sans-serif;
font-size:15px;
}*/

/*눈누 상업허용폰트 sn별별정직*/
@font-face { 
  font-family: 'Bright'; 
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.4/Bright.woff') format('woff'); 
  font-weight: normal; 
  font-style: normal; 
}

body,html{
height:auto !important;
font-family:'Bright',sans-serif;
font-size:15px;
}
