header .row > div:nth-child(1) > a { background-repeat: no-repeat; display: block; width: 139px; height: 50px; background-image: url(https://wlswnwlswnbot.github.io/tgd/images/viewers_icon.png); }

header .row > div:nth-child(1) > a img { opacity: 0; }
