/*글 제목 색, 테두리*/
#article-content-wrapper>.header{
  background: rgb(224, 204, 255);
}


/*댓글 색*/
#article-reply-area #reply-real-area .reply>.reply-header{
  background: rgb(224, 204, 255);
  border-bottom: 1px solid #6441a5;
}

/*댓글 쓰기 버튼*/
.btn-primary {
    color: #fff;
    background-color: #6441a5;
    border-color: #000;
}

/*읽은 글 색*/
#article-list>.article-list-row>.item>.list-title>a:visited {
    color: #770088;
}
