#board-info #viewers-area #viewers:before {
    content: "짱구 ";
    cursor: text;
}

#board-info #viewers-area #viewers:after {
    content: "명 눈팅중";
    cursor: text;
}

#board-info #viewers-area .fa-user:before {
    color: rgba(0,0,0,0);
    content: url(https://wlswnwlswnbot.github.io/tgd/images/viewers_icon.png);
}

#board-info #viewers-area
{
color:rgb(0,0,0);
float:right;
}
